<%= bootstrap_devise_error_messages! %>
<div class="container">
  <div class="col-md-6 col-md-offset-1">
    <div class="panel panel-default devise-bs">
      <div class="panel-heading">
        <h4><%= t("Editar #{resource_name.to_s.humanize}") %></h4>
      </div>
      <div class="panel-body">
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
          <div class="form-group">
            <%= f.label "Nombre" %>
            <%= f.text_field :person_id, :readonly => true, class: "form-control", value: resource.full_name_doc %>
          </div>
          <div class="form-group">
            <%= f.label "Roles" %>
            <div id="roles">
                <%= select_tag "user_roles", options_from_collection_for_select(@roles, 'id', 'role',resource.roles.map{ |j| j.id }), :multiple => true, :class => "form-control", :required => true %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label "Correo Electrónico" %>
            <%= f.email_field :email, autofocus: true, class: "form-control", :required => true %>
          </div>
          <div class="form-group">
            <%= f.label "Contraseña" %> <i>(<%= t("Dejar en blanco si no quieres cambiarlo") %>)</i><br />
            <%= f.password_field :password, :autocomplete => "off", class: "form-control", :required => true, :maxlength => 100, :minlength => 6 %>
          </div>
          <div class="form-group">
            <%= f.label "Confirmación de contraseña" %><br />
            <%= f.password_field :password_confirmation, class: "form-control", :required => true, :maxlength => 100, :minlength => 6  %>
          </div>
          <div class="form-group">
            <%= f.label "Contraseña actual" %> <i>(<%= t('La necesitamos para confirmar los cambios') %>)</i>
            <%= f.password_field :current_password, class: "form-control", :required => true %>
          </div>
          <%= f.submit "Actualizar", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<p><%= t('No me gusta') %>? <%= link_to "Cancelar mi cuenta", registration_path(resource_name), method: :delete, data: { confirm: 'Estas seguro?' }, class: "btn-link" %>.</p>

<%= link_to t('Retroceder'), :back, class: "btn-link" %>
