<%= form_for(@function, :validate => true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
<div class="container">
  <div class="row">
    <div id="registro">
      <fieldset class="form-group">
      <div class="col-xs-4">
          <%= f.label "Función" %>
          <p id="mensajeFuncion" class="error_message"></p>
          <div id="fieldFuncion">
            <%= f.text_field :function, :required => true, :maxlength => 100, :class => "form-control", :onkeyUp => "validarText(this,'fieldFuncion','mensajeFuncion')" %>
          </div>
          </br>

          <%= f.label "Descripción" %>
          <p id="mensajeDescripcion" class="error_message"></p>
          <div id="fieldDescripcion">
            <%= f.text_area :description, :maxlength => 255, :class => "form-control" %>
          </div>
          </br>

          <%= f.submit "Guardar", :disabled => true, class: "btn btn-large btn-primary" %>
          <%= link_to "Cancelar", functions_path, class: "btn btn-large btn-inverse" %>
        <% end %>
      </div>
      </fieldset>
    </div>
  </div>
</div>
