<% provide(:title, "Funciones") %>
<div class="flickr_pagination">
  <div class="page_info">
    <p id="notice"><%= notice %></p>

    <legend>Lista de Funciones</legend>

    <table  id="my-table" class="table table-bordered">
      <thead  class="table-title">
        <tr>
          <th class="span1 centrar">Función</th>
          <th class="span1 centrar">Descripción</th>
          <th colspan="3" class="span5 centrar">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @functions.each do |function| %>
          <tr>
            <td><%= function.function %></td>
            <td><%= function.description %></td>
            <td><%= link_to 'Ver', function, class: "btn-link" %></td>
            <td><%= link_to 'Editar', edit_function_path(function), class: "btn-link" %></td>
            <td><%= link_to 'Eliminar', function, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @functions, :container => false %>
    </br></br>

    <%= link_to 'Nueva Función', new_function_path, class: "btn btn-link" %>
  </div> 
</div>
